@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts.gstatic.com/s/courgette/v4/BHG8ZtTfO0yYnp02--QxqvY6323mHUZFJMgTvxaG2iE.eot")/*tpa=http://fonts.gstatic.com/s/courgette/v4/BHG8ZtTfO0yYnp02--QxqvY6323mHUZFJMgTvxaG2iE.eot*/;
}
