<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <property name="dialect" value="mysql" />
    </properties>
    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="localCacheScope" value="STATEMENT"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
    </settings>

    <typeAliases>
		<typeAlias alias="Blog" type="com.hujianbin.basis.bean.Blog"/>
		<typeAlias alias="BlogCategory" type="com.hujianbin.basis.bean.BlogCategory"/>
		<typeAlias alias="BlogUser" type="com.hujianbin.basis.bean.BlogUser"/>
        <typeAlias alias="BeautyGirl" type="com.hujianbin.basis.bean.BeautyGirl"/>
        <typeAlias alias="GirlCategory" type="com.hujianbin.basis.bean.GirlCategory"/>
        <typeAlias alias="SysManager" type="com.hujianbin.basis.bean.SysManager"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.ClobTypeHandler" jdbcType="CLOB" javaType="java.lang.String"/>
    </typeHandlers>
    <!-- 分页 -->
    <plugins>
        <plugin interceptor="org.mybatis.commons.dialect.PaginationInterceptor" />
    </plugins>
    <mappers>
		<mapper resource="conf/mybatis/Blog.xml" />
		<mapper resource="conf/mybatis/BlogCategory.xml" />
		<mapper resource="conf/mybatis/BlogUser.xml" />
        <mapper resource="conf/mybatis/BeautyGirl.xml" />
        <mapper resource="conf/mybatis/GirlCategory.xml" />
        <mapper resource="conf/mybatis/SysManager.xml" />
    </mappers>
</configuration>
