/*控制上下间距*/
.vertical-distance-1{
	margin-top: 20px !important;
}
/*控制固定高度*/
.fix-height-1{
	height: 238px !important;
}
.fix-height-2{
	height: 198px !important;
}
/*控制右对齐*/
.right-block {
  display: block;
  margin-left: auto;
}
/*控制固定宽度*/
.fix-width-1{
	width: 80px !important;
}
.fix-width-2{
	width: 75px !important;
}
/*控制宽度强制*/
.width-80{
	width: 80% !important;
}
/*控制form-group 长度，间距*/
.form-custom-1{
	width: 50% !important;
	margin-bottom: 15px !important;
}
.form-custom-2{
	width: 40% !important;
	margin-bottom: 15px !important;
}

.dropDown {
	display: inline-block;
}

.dropDown_A {
	display: inline-block;
}

.dropDown-menu {
	display: none;
	transition: all 0.3s ease;
}

.menu-left {
	margin-left: 50px;
}

.dropDown-menu.display {
	display: inline-block;
	transition: all 0.3s ease;
	list-style: none;
}

.dropDown-menu div{
	overflow:hidden;
	word-break:keep-all;
	white-space:nowrap;
}

.box-shadow {
	background-color: #fff;
	/*border: solid 1px #ddd;*/
	/*box-shadow: 1px 1px 2px 2px #ddd;*/
}

.dropDown.open {
	display: inline-block;
	position: relative;
	z-index: 99;
}