/*@import url("../fonts.googleapis.com/css-family=Source+Sans+Pro-200,300,400,400italic,600,700,900&subset=latin.css");*/
body {
	font-family:Source Sans Pro
}
h1,h2,h3,h4,h5,h6 {
	font-family:Source Sans Pro
}
input,textarea,.btn,button {
	font-family:Source Sans Pro
}
blockquote {
	font-family:Source Sans Pro
}
blockquote p {
	font-weight:300;
}
.light {
	font-weight:300 !important;
}
.hairline {
	font-weight:200 !important;
}
.hairline strong {
	font-weight:400;
}
h1,h2,h3,h4,h5,h6 {
	font-weight:600;
}
.lead {
	font-weight:300;
}
.lead strong {
	font-weight:600;
}
.recentcomments a{
	display:inline !important;
	padding:0 !important;
	margin:0 !important;
}
